<div class="allCreatedPostByTeacher d-flex flex-column flex-lg-row flex-wrap pb-4 mt-4 ">
    <div class="col-lg-3 col-12 m-4   card rounded " *ngFor="let item of AdPosts"  (click)="AdPostClick(item.user)">
        <div class="image-container rounded ">
            <img class="card-img-top" src="{{item.image}}" alt="image">
        </div>
            <div class="card-body">
              
              <p class="card-text">{{item.caption}}</p>
              
            </div>
    </div>

    <div *ngIf="AdPosts.length==0" class="text-center col-12">پستی برای این دسته بندی پیدا نشد</div>
    
    </div>