<div class="classContainer shadow-lg p-4 rounded m-1">
  <h3>{{class.name}} </h3>
  <!-- <img class="mt-2" src="{{guitar}}" class=" col-6 mr-3" alt=""> -->

  <div class="summary mt-2 mb-4">
      <h5>چکیده:</h5>
      <p class="card-text">{{class.description}}</p>
   
    
  </div>
<div class="  mt-2 mb-4 d-flex flex-column align-items-center commentsContainer">
  <h3 class=" align-self-start">فهرست جلسات</h3>
  <video class="col-lg-8 col-12 h-50 videoContainer " controls="controls">
    <source [src]="selectedVideo" type="video/mp4"  />
  </video>
  <small></small>
  </div>
  
<table class="table col-lg-10 col-12 table-bordered m-2 mt-4 mb-4 videoContainer">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">جزییات کلاس</th>
      <th scope="col">دریافت فایل</th>
      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tutorials;let i=index" >
      <th scope="row">{{i+1}}</th>
      <td (click)="changeVideo(i)">{{item.description}}</td>
      <td><a href="{{item.video}}" download="test">لینک</a></td>
     
    </tr>

  </tbody>
</table>


<h2 >دیدگاه:</h2>

  <div class="alert alert-success d-flex align-items-center justify-content-between flex-row col-10 mr-2" *ngIf="message!=null">
    <div>{{message}}</div>
    <div class="btn btn-outline-dark " (click)="message=null">بستن</div>


  </div>
  <div class="row mr-4 mb-4"> 
  <div class="col-10 d-flex flex-column">
  <input name="fullname" class="form-control  " [(ngModel)]="comment.text"
  placeholder="لطفا نظر خود راجع به کلاس را وارد کنید"
  #comment_="ngModel"
  required
  maxlength="255"
  
  >
  <span class=" col-12 text-right bg-danger border-top p-2 text-white" 
  *ngIf="!comment_.valid && comment_.touched ">لطفا این قسمت را پر کنید</span>
</div>
  <button [disabled]="!comment_.valid" (click)="addComments()" class="btn btn-send-comment btn-success btn-sm mr-1 ">ارسال</button>
</div>
<div class="comment rounded bg-light d-flex flex-column p-1 mr-2  mb-2 col-10 " *ngFor="let item of comments">
 
  <div class="d-flex justify-content-between flex-row p-4">
  <div class="comment-message col-8">
    {{item.text}}
  </div>
  
</div>

</div>

</div>

 