.classContainer
{
    overflow: scroll;
    height: 100vh;
    padding-bottom: 10% !important;
    width: 73vw;
}
@media screen and (max-width:600px)
{
    .classContainer
    {
        overflow: visible !important;
        width: 100% !important;
        height: auto !important;
    }
}
