<div class="pb-4">
<app-carousel></app-carousel>
<app-top-adposts></app-top-adposts>
<div class="col-12 text-center bg-light pt-2">
    <h2>دسته بندی</h2>

<div class="category d-flex flex-column flex-lg-row flex-wrap mt-2 p-4 ">
    <div (click)="getTypeId(3)" class="col-12 col-lg-4 mt-4 music-item flex-column">
        <img class="col-12" src="{{violin}}" />
        <div class="col-12 text-center">ویولن</div>
    </div>
    <div (click)="getTypeId(2)" class="col-12 col-lg-4 mt-4 music-item flex-column align-items-center justify-content-center">
        <img class="col-12" src="{{santoor}}" />
        <div class="col-12 text-center">سنتور</div>
    </div>
    <div (click)="getTypeId(1)" class="col-12 col-lg-4 mt-4 music-item">
        <img class="col-12" src="{{guitar}}" />
        <div class="col-12 text-center">گیتار</div>
    </div>
    <div (click)="getTypeId('piano')" class="col-12 col-lg-4 mt-4 music-item">
        <img class="col-12" src="{{piano}}" />
        <div class="col-12 text-center">پیانو</div>
    </div>
    <div (click)="getTypeId(5)" class="col-12 col-lg-4 mt-4 music-item">
        <img class="col-12" src="{{sitar}}" />
        <div class="col-12 text-center">سه تار</div>
    </div>
    <div (click)="getTypeId(6)" class="col-12 col-lg-4 mt-4 music-item">
        <img class="col-12" src="{{flute}}" />
        <div class="col-12 text-center ">فلوت </div>
    </div>
</div>
</div>
</div>