.login-form
{
    padding: 10px;
    box-shadow: 5px 5px 5px gray;
    background-color: white;
    width: 60%;

}
.login-form-container
{
    height: 60vh !important;
}
.login-header
{
    width: 100vw !important;
}
.loader
{
    z-index: 1000;
    top: 0;
    
    width: 100% !important;
    height: 100% !important;
    opacity: .8;
    
}
.loader img
{
    height: 100% !important;
    width: 100% !important;
}

@media  screen and (max-width:800px)
{
    .login-form-container
    {
    height: 60% !important ;
   
    }
    .login-form
    {
        width: 85%;
    }
    .login-form 
    {
        width:85% !important;
    }
}