<form class=" form container mt-4 " #loginForm="ngForm">
    <div class="d-flex  main-form col-12 flex-column justify-content-around align-items-center">
        <div class="signup-header col-8  text-center">ورود </div>
        
        
        <input name="phoneNumber" class="form-control col-8 mb-1"  type="text" [(ngModel)]="user.PhoneNumber"
        placeholder="شماره تلفن همراه خود را وارد کنید"
        ngModel 
        #phoneNumber="ngModel" 
        pattern="^[0-9]+$" 
        minlength=11
        maxlength=12 
        required
        
        >
        <span  class="bg-danger border-top p-1 text-white col-8"
         *ngIf="phoneNumber.errors?.required && phoneNumber.touched">شماره تلفن همراه خود را وارد کنید</span>
 
        
        
            
        
        <input name="Password" class="form-control col-8 mb-1" type="password" [(ngModel)]="user.Password"
        placeholder="رمز عبور خود را وارد کنید"
        ngModel
        #password="ngModel"
        required>
        <span  class="bg-danger border-top p-1 text-white col-8"
        *ngIf="password.errors?.required && password.touched">رمز عبور خود را وارد کنید</span>

        
        
        
        <button class="btn btn-success col-8" (click)="login()"  [disabled]="!loginForm.valid" type="submit">ورود</button>

        
     
        <small class="mt-3 text-right col-9 " ><a class="nav nav-link" routerLink="">فراموش کردن رمز عبور</a></small>
    </div>

   
    </form>