<div class="row col-12 bg-light m-0" >
    <a  class=" nav-link" routerLink="homepage">صفحه اصلی </a>
    <a *ngIf="login==null" class=" nav-link" routerLink="signup">ثبت نام</a>
    <a *ngIf="login==null" class=" nav-link" routerLink="login">ورود </a>
    <a *ngIf="login" class="nav-link" routerLink="profile"> پروفایل کاربری</a>
    
    <a  class="nav-link" routerLink="AllTeachers">مشاهده اساتید</a>
    <a  class="nav-link" routerLink="search">جست و جو</a>
    <a  class="nav-link" (click)="goToChat()" routerLink="chat"> چت</a>
    <button (click)="logout()" *ngIf="login" class="btn btn-outline-dark btn-sm">خروج</button>
</div>
