
<div class="top-posts d-flex flex-column ">
    <!-- <div class="header d-flex flex-row justify-content-between">
        <h4>جدیدترین پست های تبلیغاتی</h4>
        <small (click)="getAllPostsForUser()" class="text-info">مشاهده همه پست ها</small>
    </div> -->

<div class="d-flex flex-row justify-content-between align-items-center top-post-items p-4  overflow-hidden">
    
        <div class="card col-6 col-lg-2 mr-2 ml-2 shadow-lg " *ngFor="let item of adPosts;let i=index" (click)="AdPostClick(item.TeacherId)">
          <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
          <div class="card-body">
            
            <p class="card-text">{{item.caption}}</p>
          </div>
        
        </div>
 
      
</div>
</div>
<div class="top-posts d-flex flex-column ">
  <div class="header d-flex flex-row justify-content-between">
      <h4> گیتار</h4>
      <small (click)="getTypeId('guitar')" class="text-info">مشاهده همه پست ها</small>
  </div>

<div class="d-flex flex-row justify-content-start align-items-center top-post-items p-4  overflow-hidden">
  
      <div class="card col-6 col-lg-2 mr-4 ml-4 " *ngFor="let item of guitarAdPosts;let i=index" (click)="AdPostClick(item.TeacherId)">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
         
          <p class="card-text">{{item.caption}}</p>
        </div>
      
      </div>

    
</div>
</div>

<div class="top-posts d-flex flex-column ">
  <div class="header d-flex flex-row justify-content-between">
      <h4> پیانو</h4>
      <small (click)="getTypeId('piano')" class="text-info">مشاهده همه پست ها</small>
  </div>

<div class="d-flex flex-row justify-content-start align-items-center top-post-items p-4  overflow-hidden">
  
      <div class="card col-6 col-lg-2 mr-4 ml-4 " *ngFor="let item of pianoAdPosts;let i=index" (click)="AdPostClick(item.TeacherId)">
        <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
        <div class="card-body">
         
          <p class="card-text">{{item.caption}}</p>
        </div>
      
      </div>

    
</div>
</div>

