.card
{
    height: 350px !important;
    box-shadow: 0 4px 8px 0 rgba(139, 139, 139, 0.2), 0 6px 20px 0 rgba(131, 129, 129, 0.19) !important;
}

.card img
{
    height: 140px !important;
}


.card:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

small:hover
{
    cursor: pointer;
}



.header
{
  
    padding:10px;

}

@media screen and (max-width:600px)
{
    .top-posts
    {
        overflow-y: scroll;
    }
}
