.class-container
{
    height: 100vh !important;
    
    padding-bottom: 100px;
    width: 73vw !important;
    overflow-y: scroll;
}
.card
{
    height: 300px !important;
}

@media screen and (max-width:600px)
{
 .class-container
 {
     width:100% !important;
     overflow:visible
     
 }
}