<div class="d-flex flex-column flex-lg-row justify-content-between">
    <div class="col-lg-2 col-12 m-4   card rounded " *ngFor="let item of teachers" (click)="teacherProfile(item.Id)">
        <div class="image-container rounded   ">
            <img class="card-img-top" src="../../assets/image/{{item.Image}}" alt="image">
        </div>
            <div class="card-body d-flex flex-column">
              <div>ایمیل:{{item.Email}}</div>
              <div>نام:{{item.Name}}</div>
              
              
            </div>
            <div class="border-top border-gray  col-12">
                <div class="btn btn-info mt-2 mb-2">مشاهده پروفایل</div>
            </div>
    </div>
</div>