
    <div class="col-lg-2 col-12 m-4   card rounded ">
        <div class="image-container rounded   ">
            <img class="card-img-top" src="../../assets/image/{{image}}" alt="image">
        </div>
            <div class="card-body d-flex flex-column">
              <div>ایمیل:test@gmail.com</div>
              <div>نام:تست</div>
              
              
            </div>
            <div class="border-top border-gray  col-12">
                <div class="btn btn-info mt-2 mb-2">مشاهده پروفایل</div>
            </div>
    </div>