<div class="container pb-4"> 
    <h2 class="text-center pt-2">پرسشنامه</h2>
    <div class="question">

    <div >چه سازی را تدریس میکنید؟</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="instrument"  value="guitar" checked>
        <label class="form-check-label mr-3">
         گیتار
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="instrument"  value="piano">
        <label class="form-check-label mr-3" >
          پیانو
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="instrument" value="santoor" >
        <label class="form-check-label mr-3" >
         سنتور
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="instrument"  value="others" >
        <label class="form-check-label mr-3 ">
         بقیه موارد
        </label>
      </div>
</div>
<div class="question">

    <div >چه بازه سنی را برای تدریس ترجیح میدهید؟</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="age"  value="5" checked>
        <label class="form-check-label mr-3" >
         4-10
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="age" value="1">
        <label class="form-check-label mr-3" >
          10-15
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="age"  value="2" >
        <label class="form-check-label mr-3" >
         15-18
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="age"  value="3" >
        <label class="form-check-label mr-3" >
         18-24
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="age"  value="4" >
        <label class="form-check-label mr-3 " >
         بقیه موارد
        </label>
      </div>
</div>

<div class="question">

    <div >ُاز لحاظ سخت گیری چگونه استادی هستید؟</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question3"  value="5" checked>
        <label class="form-check-label mr-3" >
         جدی 
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question3" value="1">
        <label class="form-check-label mr-3" >
          ملایم
        </label>
      </div>
   
</div>

<div class="question">

    <div >هنرجو از نظر شما باید چقدر وقت بگذارد؟</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="age"  value="5" checked>
        <label class="form-check-label mr-3" >
         روزی شش ساعت
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="age" value="1">
        <label class="form-check-label mr-3" >
          روزی سه ساعت
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="age"  value="2" >
        <label class="form-check-label mr-3" >
        روزی یک ساعت
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="age"  value="3" >
        <label class="form-check-label mr-3" >
         روزی نیم ساعت
        </label>
      </div>
      <div class="form-check ">
        <input class="form-check-input" type="radio" name="age"  value="4" >
        <label class="form-check-label mr-3 " >
         بقیه موارد
        </label>
      </div>
</div>

<div class="question">

    <div >ُبه موسیقی کلاسیک بیشتر علاقه دارید یا ایرانی؟</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question3"  value="5" checked>
        <label class="form-check-label mr-3" >
         کلاسیک 
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question3" value="1">
        <label class="form-check-label mr-3" >
          ایرانی
        </label>
      </div>
   
</div>

<div class="question">

    <div >ُدوست دارید هنرجوی شما در آینده نوازنده حرفه ای شود؟</div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="question3"  value="5" checked>
        <label class="form-check-label mr-3" >
         بله 
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="question3" value="1">
        <label class="form-check-label mr-3" >
          خیر
        </label>
      </div>
   
</div>



</div>