<form class="form col-12 mt-2" #createAdPost="ngForm">
<div class="d-flex flex-column">
<h3 >اضافه کردن تصویر</h3>
<input (change)="fileChangeEvent($event)" name="image"  type="file"  />
</div>
<div class="form-group p-0 col-12 d-flex flex-column mt-4 ">
    <h3>اضافه کردن توضیح</h3>
    <textarea class="form-control" id="caption" rows="3"
    name="caption"
    [(ngModel)]="adPost.caption"
    required
    #caption="ngModel"
    maxlength="255">
  </textarea>
  <span class="border-top p-2 text-white col-12 bg-danger " *ngIf="caption.touched && !caption.valid && !caption.errors.maxlength">لطفا متنی را برای توضیح بنویسید</span>
  <span class="border-top p-2 text-white col-12 bg-danger " *ngIf="caption.touched && !caption.valid && caption.errors.maxlength">متن طولانی است</span>
  </div>

  <button class="btn btn-success col-12" (click)="sendAdPost()" [disabled]="!createAdPost.valid || selectedFile==null">ارسال</button>
</form>