.image-container
{
    height: 300px !important;
}

.teacher-information
{
    height: 200px;
    background-color: lightblue;
    padding: 10px;

}
img
{
    height: 300px;
}
.teacher-container
{
    background-color: rgb(116, 198, 248);
}
.teacherImage img
{
    
    max-width: 100%!important;
    max-height: 100% !important;
}
.biography
{
    width:80vw !important;
}
.btn-send-comment
{
    max-height: 40px !important;
}
.rounded-circle
{
    border-radius: 1000px !important;
}

.teacher-all
{
    padding-bottom: 50px !important;
}
