<form class=" form container mt-4 " #signupForm="ngForm">
    <div class="d-flex  main-form col-12 flex-column justify-content-around align-items-center">
        <div class="signup-header col-8  text-center">ثبت نام</div>
        <input name="fullname" class="form-control col-8 " [(ngModel)]="user.Name"
        placeholder="لطفا نام خود را وارد کنید"
        #fullname="ngModel"
        required
        minlength="5"
        >
        <span class=" col-8 text-right bg-danger border-top p-2 text-white" *ngIf="!fullname.valid && fullname.touched && !fullname.errors.minlength">لطفا این قسمت را پر کنید</span>
        <span class=" col-8 text-right bg-danger border-top p-2 text-white" *ngIf="!fullname.valid && fullname.touched && fullname.errors.minlength">حد اقل باید پنج حرف وارد کنید</span>
        <input name="phoneNumber" class="form-control col-8 mb-1"  type="text" [(ngModel)]="user.PhoneNumber"
        placeholder="شماره تلفن همراه خود را وارد کنید"
        ngModel 
        #phoneNumber="ngModel" 
        pattern="^[0-9]+$" 
        minlength=11
        maxlength=12 
        required
        
        >
        <span  class="bg-danger border-top p-1 text-white col-8"
         *ngIf="phoneNumber.errors?.required && phoneNumber.touched">شماره تلفن همراه خود را وارد کنید</span>
         <span  class="bg-danger border-top p-1 text-white col-8"
         *ngIf="phoneNumber.errors?.pattern && phoneNumber.touched">شماره تلفن همراه نامعتبر است</span>
         <span  class="bg-danger border-top p-1 text-white col-8"
         *ngIf="!phoneNumber.errors?.pattern && phoneNumber.errors?.minlength  && phoneNumber.touched">شماره تلفن همراه نامعتبر</span>
    
        <input name="Email" class="form-control col-8 mb-1" type="text" [(ngModel)]="user.Email"
        placeholder="(ایمیل خود را وارد کنید (اختیاری"
        ngModel 
        #email="ngModel" 
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
        >
        
            
            <span  class="bg-danger border-top p-1 text-white col-8" *ngIf="email.errors?.pattern && email.touched">ایمیل معتبر نیست</span>
        
        <input name="Password" class="form-control col-8 mb-1" type="password" [(ngModel)]="user.Password"
        placeholder="رمز عبور"
        ngModel
        #password="ngModel"
        required>
        <span  class="bg-danger border-top p-1 text-white col-8"
        *ngIf="password.errors?.required && password.touched" >رمز عبور</span>
        <input name="correct-password" class="form-control col-8 mb-1" type="password" [(ngModel)]="ConfirmPassword"
        placeholder="تکرار رمز عبور"
        ngModel
        #checkpassword="ngModel"
        required>
        <span  class="bg-danger border-top p-1 text-white col-8"
        *ngIf="checkpassword.errors?.required && checkpassword.touched">تکرار رمز عبور</span>
        <span  class="bg-danger border-top p-1 text-white col-8"
        *ngIf="user.Password!=ConfirmPassword && !checkpassword.errors?.required  && checkpassword.touched">رمز عبور و تکرار رمز عبور باید مثل هم باشند</span>
        <input name="address" class="form-control col-8 mb-1" type="text" [(ngModel)]="user.Address" placeholder="آدرس را وارد کنید"
        required
        ngModel
    
        #address="ngModel">
        <span  class="bg-danger border-top p-1 text-white col-8"
        *ngIf="address.errors?.required && address.touched">آدرس را وارد کنید</span>
        <button class="btn btn-success col-8" [disabled]="registerSuccess==true||!signupForm.valid || user.Password!=ConfirmPassword" type="submit">ثبت نام</button>
    
    
  
        
        
       
    </div>
    </form>

